<%= link_to "/qui-sommes-nous", class:'self-center' do  %>
  <div class="max-w-5xl px-8 py-6 mb-2 bg-gray-100 group md:rounded-xl">

    <% Candidat.all.sort_by(&:position).each do |candidat| %>
      <span class="text-xs font-bold tracking-wider text-gray-500 uppercase"><%= candidat.prenom + ' ' + candidat.nom %> - <%= candidat.position == 1 ? 'candidat' : 'suppléant' %></span>
      <div class="flex items-center my-3">
        <%= image_tag candidat.photo, class:'flex-none object-cover rounded-full w-14 h-14 mr-3' %>
        <h3 class="text-3xl font-bold tracking-tight text-asfe-blue">«<%= candidat.citation %>»</h3>
      </div>
      <p class="mb-6 font-medium leading-relaxed text-gray-700"><%= candidat.bio_summary %></p>
    <% end %>


    <div class="transition duration-500 ease-in-out transform group-hover:translate-x-1">
      <span class="font-medium text-asfe-blue-light">En savoir plus →</span>
    </div>
  </div>
<% end %>
